<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnEmptyTestSuite="true"
         failOnIncomplete="true"
         failOnNotice="true"
         failOnRisky="true"
         failOnSkipped="false"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Composer Patches Plugin Test Suite">
            <directory>./tests/Netresearch/Test/Composer</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>./src/Netresearch/Composer/Patches/Exception.php</file>
            <file>./src/Netresearch/Composer/Patches/PatchCommandException.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile="coverage.xml"/>
            <html outputDirectory="coverage-html"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="junit.xml"/>
    </logging>
</phpunit>
